.App {
  text-align: center;
  
}



html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-color: rgb(73, 84, 100);

}


.slider-container {
  background-color: rgb(18, 18, 18);
  max-width: 90vw;
  padding: 2rem;
  margin: 3rem auto 0 auto;
  color: white;
}

.slider-label {
  display: flex;
  font-size: 2rem;
  margin-left: 2rem;
  padding: 2rem 0;

}

.slider-sub-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  overflow:scroll;
}

.slider-card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #1B1B1B;
  margin: 0 1rem;
}

.slider-score {
  padding-top: 1rem;
  text-align: left;
  font-size: 1.5rem;
}

.slider-title {
  text-align: left;
  margin-top: .5rem;
  font-size: 1.5rem;
}

.slider-name {
  padding-top: 1rem;
  text-align: left;
  font-size: 1.5rem;
  margin-top: .5rem;
}



.im-star {
  font-size: smaller;
  color: gold;
  margin-right: .5rem;
}



