.App {
  text-align: center;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-color: rgb(73, 84, 100);
}

.slider-container {
  background-color: rgb(18, 18, 18);
  max-width: 90vw;
  padding: 2rem;
  margin: 3rem auto 0 auto;
  color: white;
}

.slider-container-episode {
  padding: 0;
}

.slider-label {
  display: flex;
  font-size: 2rem;
  margin-left: 2rem;
  padding: 2rem 0;
  font-weight: 600;
}

.slider-label-genre {
  display: flex;
  font-size: 2rem;
  margin-left: 4rem;
  margin-bottom: -3rem;
  font-weight: 600;
}

.slider-sub-container {
  display: flex;
  flex-direction: row;
  overflow:scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 40.5rem;
  content-visiblity: auto;
}

.slider-sub-container::-webkit-scrollbar {
   display: none;
  }


  .slider-sub-container-episode {
    display: flex;
    flex-direction: row;
    overflow:scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 30rem;
    content-visiblity: auto;
  }
  
.slider-sub-container-episode::-webkit-scrollbar {
     display: none;
}

.slider-card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #1B1B1B;
  margin: 0 1rem;
  max-width: 23.75rem;
}

.slider-card-episode {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #1B1B1B;
  margin: 0 .5rem;
}

.slider-card-episode > img:hover {
  cursor: pointer;
}

.slider-card-episode-image {
  height: 20rem;
}

.slider-card > img:hover {
  cursor: pointer;
}
/* 
.slider-poster {
  display: block;
  width: 200px;
  height: auto;
  
} */

.slider-score {
  padding-top: 1rem;
  text-align: left;
  font-size: 1.5rem;
}

.slider-title {
  text-align: left;
  margin-top: .5rem;
  font-size: 1.5rem;
}

.slider-name {
  padding-top: 1rem;
  text-align: left;
  font-size: 1.5rem;
  margin-top: .5rem;
}

.slider-character {
  padding-top: .25rem;
  text-align: left;
  font-size: 1.25rem;
  margin-top: .25rem;
  color: silver;
}

.slider-name-episode {
  padding-top: 1rem;
  text-align: left;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.slider-character-episode {
  padding-top: 0;
  text-align: left;
  font-size: 1rem;
  margin-top: .25rem;
  color: silver;
}

.slider-image {
  padding: 1rem;
  background-color: #1B1B1B;
  min-width: max-content;
}

.im-star {
  font-size: smaller;
  color: gold;
  margin-right: .5rem;
}

.watchlist-ribbon {
  margin-top: -3rem;
}

.im-bookmark-slider {
  color: rgba(192, 192, 192, .75);
  filter: drop-shadow(1px 1px 1px black);
  font-size: 3rem;
  position: relative;
  top: 3rem;
  left: 8rem;
  z-index: 3;
}

.im-bookmark-slider:hover {
  cursor: pointer;
}

.link-arrow:hover {
  fill: #ffa62b;
  transition: ease 1s;
}

.im-bookmark-page {
  color: rgba(192, 192, 192, .75);
  filter: drop-shadow(1px 1px 1px black);
  font-size: 4rem;
  position: absolute;
  top: 17.5rem;
  right: 17.5%;
  z-index: 3;
}

.im-bookmark-page:hover {
  cursor: pointer;
}





