.footer {
    background-color: rgb(18, 18, 18);
    width: 100vw;
    height: 10rem;
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
}

.footer-link-container {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    width: 300px;
    padding-right: 5rem;
}

.logo-box {
    height: 3rem;
    margin-top: 3.5rem;
}

.footer-title {
    font-size: 2rem;
    padding: .5rem;
    border-radius: 5px;;
    font-weight: 700;
    color: white;
    border: 1px solid white;
}

.footer-title:hover {
    cursor: pointer;
    color: #E1B517;
    border: 1px solid #E1B517;
    transition: 2.5s;
}

.footer-title-link {
    text-decoration: none;
}

.tmdb-logo {
    height: 4rem;
    margin-top: 3.5rem;
}

.logo {
    border-radius: 50%;
    width: 50px;
    margin-left: 1.5rem;
    margin-top: 2.5rem;
    box-shadow: 3px 0px .5px .5px rgba(29,60,138,1);
  }
  
  .logo:hover {
    box-shadow: 3px 0px .5px .5px rgba(255, 172, 65, 1);
    transition: 1s ease-in;
  }