.footer {
    background-color: rgb(18, 18, 18);
    width: 100vw;
    height: 10rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.logo-box {
    height: 3rem;
    margin-top: 3.5rem;
    
    
    
   
}


.footer-title {
    font-size: 2rem;
    /* margin-left: 5rem; */
    
    
    /* margin-top: 1rem;
    margin-bottom: 5rem; */
    padding: .5rem;
    border-radius: 5px;;
    font-weight: 700;
    color: white;
    border: 1px solid white;
}

.footer-title:hover {
    cursor: pointer;
    color: #E1B517;
    border: 1px solid #E1B517;
    transition: 2.5s;
}

.footer-title-link {
    text-decoration: none;
    
}

.tmdb-logo {
    height: 4rem;
    margin-top: 3.5rem;
}

