.header {
    background-color: rgb(18, 18, 18);
    width: 100vw;
    height: 5.5rem;
    display: flex;
    justify-content: space-evenly;

}

.header-left-container {
    min-width: 20%;
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 2rem;
    /* margin-left: 5rem; */
    display: flex;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    border: 1px solid white;
}

.header-title-link {
    text-decoration: none;
    
}

.title:hover {
    cursor: pointer;
    color: #E1B517;
    border: 1px solid #E1B517;
    transition: 2.5s;
}

.menu-box {
    width: 10rem;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    padding: .5rem .25rem .25rem .25rem;
   
    flex-direction: row;
    /* padding: .5rem; */
    border-radius: 5px;
    font-weight: 700;
    color: white;
    /* border: 1px solid white; */
}

.menu-box:hover {
    background-color: #1C1C1C;
    transition: 1s ease;
}

.menu-span {
    font-size: 1.75rem;
    margin-left: 1rem;
    
    
    font-weight: 700;
    color: white;
}


.im-menu {
    color: gray;
    
    /* margin-top: 1.75rem; */
    
}



.input-container {
    width: 50%;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
}

.input {
    width: 100%;
    height: 50%;
    margin-top: 1.25rem;
    z-index: 1;
    position: relative;
    /* background-image:url('../assets/magnifier.svg');
    background-repeat:no-repeat; */
    border: none;
    border-radius: 5px;
    /* background-position:   97.5%; */
    
}

.input::placeholder {
    padding-left: 1rem;
}

input:active {
    border: none;
}


.search-button {
   height: 54%;
   width: 10rem;
   z-index: 2;
   position: relative;
   margin-top: 1.25rem;
   right: .5rem;
   border-top-right-radius:  5px;
   border-bottom-right-radius:  5px;
   border: 1px solid silver;
   border-left: 1px solid grey;
}


.header-right-container {
    min-width: 55px;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.im-user-circle {
    color: white;
    font-size: 3.5rem;
}


.watchListCount {
    display: inline-block;
    position: absolute;
    background-color: red;
    filter: drop-shadow(1px 1px 1px black);
    font-size: 1.25rem;
    margin-top: -.5rem;
    margin-left: -1rem;
    padding: 3.25px 5px;
    border-radius: 50%;
    
}






