
.item-page-container {
    background-color: rgb(18, 18, 18);
    max-width: 90vw;
    height: auto;
    padding: 2rem 2rem 8rem 2rem;
    margin: 3rem auto 0 auto;
    color: white;
  }
  
  .item-page-close {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
    text-decoration: inherit;
    
  }

  .item-page-close:link {
    text-decoration: none;
    
  }

  

  .item-page-close:hover {
    cursor: pointer;
    color: gray;
    transition: 2s ease;
  }

  .results-title {
    margin-top: 0rem;
    font-size: 3rem;
  }


  .menu-page-container {
    background-color: rgb(18, 18, 18);
    position: relative;
    z-index: 10;
    width: 100vw;
    min-height: 100vh;
    padding: 2rem 0rem 8rem 0rem;
    margin: -5rem auto -5rem auto;
    color: white;
  }

  .menu-page-close {
    display: inline-block;
    
    margin: 0 4rem;
    text-decoration: inherit;
    color: black;
    background-color: #E1B517;
    padding: 1.36rem;
    border-radius:  50%;

  }

  .menu-close-container {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid green; */
    /* width: 10rem; */

  }

  .menu-page-close:hover {
    cursor: pointer;
    
    transition: 2s ease;
    filter: brightness(50%);
    
  }
  
  .menu-title {
    font-size: 2rem;
    /* margin-left: 5rem; */
    display: inline-block;
    
    /* margin-top: 1rem;
    margin-bottom: 5rem; */
    padding: .5rem;
    border-radius: 5px;;
    font-weight: 700;
    color: #E1B517;
    border: 1px solid #E1B517;
}

.menu-title:hover {
  cursor: pointer;
  transition: 2s ease;
  filter: brightness(50%);
}

.menu-title-box-name {
  
  margin: 0 2rem;
 

  

}

.menu-logo-box{
  margin: 1rem 4rem;
  /* border: 1px solid red; */
  /* width: 12.5rem; */
  display: flex;
  justify-content: flex-start;
}
 
.menu-top-box {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
}

.menu-list-container {
  border: 1px solid gold;
  width: 90vw;
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
}

.menu-list {
  border: 1px solid red;
  width: 30vw;
  margin: 2rem auto;
}


.menu-title-box {
  text-align: left;
  border: 1px solid green;
  font-size: 2rem;
}

.menu-media-list {
  list-style: none;
  border: 1px solid orange;
  width: 25vw;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.menu-media-list > li {
  margin: 2rem 0;
  
}

.menu-media-list-link {
  color: white;
  font-size: 1.5rem;
  padding: 1rem 0;
}

  