.details-container {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    /* border: 1px solid red; */
}

.detail-top-container {
    /* border: 1px solid green; */
    display: flex;
    width: 75vw;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.details-poster {
    display: block;
    width: 20vw;
    height: auto;
    /* margin: 0 auto; */
    
}

.poster-container {
   max-width: 30rem;
}

.detail-word-box {
    /* border: 1px solid blue; */
    
    max-width: 60vw;
    /* margin: 0 auto; */
    padding: 3rem;
    background-color: #1B1B1B;
    
}

.detail-word-box > p {
    width: 40vw;
    margin: 0 auto;
    text-align: left;
}

.details-title {
    /* border: 1px solid yellow; */
    font-size: 3rem;
    font-weight: 500;
    max-width: 25vw;
    text-align: left;
}

.details-score {
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: right;
}

.details-star {
    font-size: 3rem;
    margin-top: .5rem;
}


.details-top-word-box {
    
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.details-score-star-box {
    display: flex;
}

.details-mid-word-box {
    border-bottom: 1px solid rgb(73, 84, 100);
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.details-midbottom-word-box {
    border-bottom: 1px solid rgb(73, 84, 100);
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}



.details-tagline {
    /* border: 1px solid red; */
    width: 40vw;
    margin: 5rem auto;
    
    
    font-size: 1.5rem;
}

.details-overview {
    font-size: 1.25rem;
    /* border: 1px solid blue; */
    max-width: 30vw;
    line-height: 2;

}

.details-images-container {
    background-color: #1B1B1B;
    margin: 3rem auto 7rem auto;
    display: flex;
    flex-direction: row;
    overflow:scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: fit-content;
    max-width: 70vw;
    
    height: auto;
    
}

.details-video-container {
    background-color: #1B1B1B;
    margin: 3rem auto 7rem auto;
    display: flex;
    flex-direction: row;
    overflow:scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: fit-content;
    max-width: 75vw;
    
    height: auto;
    
}

.details-video-container::-webkit-scrollbar {
    display: none;
}




.details-images-container::-webkit-scrollbar {
    display: none;
}

.details-credit-container {
    /* border: 1px solid red; */
    width: 60vw;
    padding: 3rem;
    margin: 0 auto;
    background-color: #1B1B1B;
    
    
}

.details-cast-slider {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  overflow:scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.details-cast-slider::-webkit-scrollbar {
    display: none;
}  

.details-slider-container {
    /* border: 1px solid red; */
    display: flex;
    
    flex-direction: column;
    background-color: rgb(18, 18, 18);
    max-width: 75vw;
    padding: 2rem 0;
    margin: 0rem auto 0 auto;
    color: white;
  }


  .details-slider-title {
      display: flex;
      font-size: 2rem;
      padding: 2rem;
  }

  

  .details-review-tile {
    background-color: #1B1B1B;
    margin: 0 auto;
  }


.details-review-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 18, 18);
    width: 74vw;
    margin: 0 auto;
    margin-left: 1rem;
    color: white;
}