.details-container {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}

.detail-top-container {
    display: flex;
    width: 75vw;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.details-poster {
    display: block;
    width: 20vw;
    height: auto;
}

.poster-container {
   max-width: 30rem;
}

.detail-word-box {
    max-width: 60vw;
    padding: 3rem;
    background-color: #1B1B1B;
}

.detail-word-box > p {
    width: 40vw;
    margin: 0 auto;
    text-align: left;
}

.details-title {
    font-size: 3rem;
    font-weight: 500;
    max-width: 25vw;
    text-align: left;
}

.details-score {
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: right;
}

.details-star {
    font-size: 3rem;
    margin-top: .5rem;
}

.details-top-word-box {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.details-score-star-box {
    display: flex;
}

.details-mid-word-box {
    border-bottom: 1px solid rgb(73, 84, 100);
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    line-height: 2;
}

.details-midbottom-word-box {
    border-bottom: 1px solid rgb(73, 84, 100);
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.details-tagline {
    width: 40vw;
    margin: 5rem auto;
    font-size: 1.5rem;
}

.details-episode-container {
    background-color: #1B1B1B;
    width: 70vw; 
    height: fit-content;
    margin: 3rem auto 5rem auto;
}


.details-season-switch {
    min-height: fit-content;
    padding-bottom: 5rem;
}


.details-movie-details-container {
    width: 70vw;
    margin: 0 auto 5rem auto;
    height: auto;
    background-color: #1B1B1B;
    padding-bottom: 3rem;
}

.details-movie-details-tile {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}

.movie-details-list-container {
    width: 40%;
    padding: 2rem;
    margin: 0 auto; 
}

.movie-details-list-item {
    list-style: none;
    font-size: 1.25rem;
    display: flex;
    padding: 1rem;
}

.movie-details-list {
    display: flex;
    flex-direction: column;
}

.movie-details-list-logo {
    background-color: white;
    margin-right: 2rem;
}

.movie-details-list-title {
    font-weight: 600;
    color: white;
    border-bottom: 1px solid rgb(73, 84, 100);
    font-size: 1.5rem;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    line-height: 2;
}

.movie-detail-homepage-link-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.movie-detail-homepage-link {
    fill: #FFD700;
    margin-right: 2rem;
}

.details-watch-box {
    background-color: #1B1B1B;
    min-width: 25vw;
    width: 70vw;
    max-width: max-content;
    min-height: fit-content;
    margin: 2rem auto;
    padding: 1rem;
}

.details-slider-video-watch-container{
    margin: 0 auto;
}

.details-watch-box-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.details-watch-box-container-title {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.details-watch-box-provider-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    width: 100%;
    height: auto;
}

.details-watch-box-provider-icon{
    border-radius: 5px;
    margin: 1rem 1rem;
}

.details-watch-box-provider-icon > img {
    border-radius: 10px;
}

.details-overview {
    font-size: 1.25rem;
    max-width: 30vw;
    line-height: 2;
    margin: 0 auto;
    text-align: left;
}

.details-images-container {
    background-color: #1B1B1B;
    margin: 3rem auto 7rem auto;
    display: flex;
    flex-direction: row;
    overflow:scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: fit-content;
    max-width: 70vw;
    height: auto; 
}

.details-video-container {
    background-color: #1B1B1B;
    margin: 3rem auto 7rem auto;
    display: flex;
    flex-direction: row;
    overflow:scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: fit-content;
    max-width: 75vw;
    height: auto;
}

.details-video-container::-webkit-scrollbar {
    display: none;
}

.details-images-container::-webkit-scrollbar {
    display: none;
}

.details-credit-container {
    width: 60vw;
    padding: 3rem;
    margin: 0 auto;
    background-color: #1B1B1B;
}

.details-cast-slider {
  display: flex;
  flex-direction: row;
  overflow:scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
   height: 40.5rem;
   content-visiblity: auto;
}

.details-cast-slider::-webkit-scrollbar {
    display: none;
}  

.details-slider-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 18, 18);
    max-width: 75vw;
    padding: 2rem 0;
    margin: 0rem auto 0 auto;
    color: white;
}

.details-slider-container-episode {
    display: flex;
    height: auto;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    max-width: 75vw;
    padding: 0 2rem 2rem 2rem;
    margin: 0rem auto 0 auto;
    color: white;
}

.details-slider-title {
    display: flex;
    font-size: 2rem;
    padding: 2rem;
}


.details-slider-title-episode-season-number {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 2rem;
  }

.details-slider-title-episode-dropdown {
    display: flex;
    font-size: 1.5rem;
    padding: 2rem;
}

.details-slider-title-video {
    display: flex;
    font-size: 2rem;
    padding: 0rem;
    margin-top: 8rem;
}

.details-slider-title-episodes {
    display: flex;
    font-size: 2rem;
    padding: 0rem;
    margin-left: 4rem;
}

.details-season-number-container {  
    display: flex;
    width: fit-content;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    font-size: 1.25rem;
    padding: 2rem 0;
}

.details-season-number-slider-container {
  overflow:scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  content-visiblity: auto;
}

.details-season-number-slider-container::-webkit-scrollbar {
    display: none;
}

.detail-season-number-box {
    padding: 0 2rem;
}

.detail-season-number:hover {
    cursor: pointer;
    color: gray;
    transition: 1s ease;
}

.details-episode-season-title {
    margin-left: 2rem;
}

.details-last-next-episode-title {
    width: 80%;
    margin: 2rem auto 2rem auto;
    display: flex;
    justify-content: left;
    font-size: 1.25rem;
}

.details-last-next-episode-container{
    width: 90%;
    margin: 0rem auto;
    display: flex;
    justify-content: space-around;
}

.details-episode-card {
    background-color: rgba(19, 19, 19, .75);
    width: 30vw;
    height:auto;
}

.details-episode-card-season {
    background-color: rgba(19, 19, 19, .75);
    width: 90%;
    height:auto;
}

.details-episode-card-season-tile {
    background-color: rgba(19, 19, 19, .75);
    width: 90%;
    height:auto;
}

.details-episode-card-season-tile:hover {
    cursor: pointer;
}

.details-episode-card-img-container {
    display: block;
    padding: 1.5rem 0;
    min-height: auto;
}

.details-episode-card-img {
    margin: 0 auto;
    display: block;
    width: 75%;
    height: auto; 
}

.details-episode-card-img-season {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
}

.details-episode-card-img-season-container {
    padding: 2rem;
}

.details-episode-card-title {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2.5rem;
    font-size: 1.5rem;
}

.details-episode-card-stat-box {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    padding: .25rem 0 1rem 0;
    font-size: 1.25rem;
    color: silver;
}

/* .details-episode-card-overview-container {
    border: 1px solid blue;
    padding: 1.5rem 0 3rem 0;
    text-align: left;
    width: 75%;
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 1.5;
    color: silver;
} */

.details-episode-season-img-overview-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.details-episode-card-overview-season-container {
     padding: 3rem 3rem 3rem 3rem;
     text-align: left;
     width: 70%;
     margin: 0 auto;
     font-size: 1.25rem;
     line-height: 1.5;
     color: silver;
}

.details-episode-card-season-container {
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
}
.details-review-tile {
    background-color: #1B1B1B;
    margin: 0 auto;
  }
  
.details-review-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 18, 18);
    width: 74vw;
    margin: 0 auto;
    margin-left: 1rem;
    color: white;
}