
.item-page-container {
    background-color: rgb(18, 18, 18);
    max-width: 90vw;
    height: auto;
    padding: 2rem 2rem 8rem 2rem;
    margin: 3rem auto 0 auto;
    color: white;
  }
  
  .item-page-close {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
    text-decoration: inherit;
    
  }

  .item-page-close:link {
    text-decoration: none;
    
  }

  

  .item-page-close:hover {
    cursor: pointer;
    color: gray;
    transition: 2s ease;
  }

  .results-title {
    margin-top: 0rem;
    font-size: 3rem;
  }
  
 
  