
.item-page-container {
    background-color: rgb(18, 18, 18);
    max-width: 90vw;
    height: 80vh;
    padding: 2rem;
    margin: 3rem auto 0 auto;
    color: white;
  }
  
  .item-page-close {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
  }

  .item-page-close:hover {
    cursor: pointer;
    color: gray;
    transition: 2s ease;
  }
  