

@media only screen and (max-width: 1050px) {
    .header {
        justify-content: space-around;
    }
    .input-container {
        max-width: 30vw;
    }
    .title {
        margin-right: 2rem;
    }
    .details-container {
        min-width: 95vw;
    }
    .detail-top-container {
        min-width: 100%;
    }
    .details-poster {
        min-width: 30vw;
    }
    .detail-word-box {
        min-width: 50vw;
    }
    .details-movie-details-container {
        min-width: 95vw;
    }
    .details-episode-container {
        min-width: 95vw;
    }
    .item-page-container {
        min-width: 100vw;
        max-width: 100vw;
        box-sizing: border-box;
    }
    .details-watch-box {
        width: 95vw;
    }
    .details-slider-video-watch-container {
        width: 95vw;
    }
    .details-video-container {
        padding: 2rem 0;
        min-width: 95vw;
        max-width: 95vw;
    }
    .details-slider-title-video {
        margin-left: 2rem;
    }
    .details-slider-container{
        min-width: 95vw;
    }
    .details-review-container {
        min-width: 92.5vw;
    }
    .im-bookmark-page {
        right: 7.5%;
    }
    .details-images-container {
        min-width: 90vw;
        max-width: 90vw;
    }
    .details-credit-container {
        width: 85vw;
        min-width: 85vw;
        max-width: 85vw;
    }
    .person-part-tile {
        width: 80vw; 
        min-width: 80vw;
    }
    .slider-container {
        max-width: 100vw;
      }

    .slider-container-home {
        max-width: 100vw;
      }  
    .details-overview {
          min-width: 100%;
    }
    .details-slider-container-episode {
        min-width: 90vw;
        max-width: 90vw;
    }
    .watchlist-page-container {
        min-width: 100vw;
        max-width: 100vw;
        box-sizing: border-box;
    }
    .menu-list-container {
        min-width: 90vw;
    }
    .menu-list {
        min-width: 30vw;
    }
}

@media only screen and (max-width: 750px) {
    .input-container {
        max-width: 25vw;
    }
    .search-button {
        max-width: 4rem;
    }
    .input::placeholder {
        visibility: hidden;
    }
    .menu-list-container {
        min-width: 99vw;
    }
    .menu-list {
        min-width: 35vw;
        margin: 2rem auto;
      }

    .detail-top-container {
        flex-direction: column;
        
    } 
    .poster-container {
        margin: 0 auto 2rem auto;
    } 
    .detail-word-box {
        min-width: 80vw;
        margin: 0 auto;
    }
    .im-bookmark-page {
        right: 35%;
        top: 17.05rem;
    }
    .details-tagline {
        min-width: 50vw;
        text-align: left;
    }

    .details-top-word-box {
        justify-content: space-between;
    }

    .details-title {
        font-size: 2rem;
        min-width: 60vw;
    }
    .details-score {
        font-size: 2rem; 
    }
    .details-movie-details-container {
        min-width: 87.5vw;
        margin: 0 auto;
    }
    .details-video-container {
        min-width: 87.5vw;
    }
    .details-slider-video-watch-container {
        max-width: 90vw;
    }
    .details-watch-box {
        max-width: 95vw;
    }
      
    
}

@media only screen and (max-width: 550px) {
    .title {
        margin-right: 0;
    }
    .menu-list-container {
        min-width: 99vw;
    }
    .menu-list {
        min-width: 45vw;
        margin: 2rem auto;
      }
}

@media only screen and (max-width: 500px) {
    .header-title-link {
        display: none; 
    }
    .menu-box {
        position: absolute;
        max-width: 2.5rem;
        left: 2rem;
    }
    .menu-span {
        display: none;
    }
    .menu-media-list-link {
        min-width: 40vw;
    }
    .menu-list {
        min-width: 45vw;
      }

    .item-page-container {
        min-width: 100vw;
        max-width: 100vw;
    }  
    .input-container {
        max-width: 35vw;
    }
    .slider-sub-container, .details-cast-slider {
        max-height: 30rem;
    }
    .slider-card {
        padding: 1.5rem;
        margin: 0 .5rem;
      }
    .slider-card-image {
        max-height: 20rem;
      }
    .slider-name {
        padding-top: 0rem;
        text-align: left;
        font-size: 1.25rem;
        margin-top: 1.5rem;
      }
      
    .slider-character {
        padding-top: 0;
        font-size: 1.25rem;
    }  
    .slider-container {
        padding: 0;
    }
    .slider-score {
        padding-top: 1rem;
        font-size: 1.25rem;
    }
    .slider-title {
        margin-top: .5rem;
        font-size: 1.25rem;
    }
      
    .slider-container {
        padding: 2rem .5rem;
    } 
    .im-bookmark-slider {
        position: relative;
        top: 3rem;
        left: 5rem;
        z-index: 3; 
    }
    .slider-label {
        display: flex;
        font-size: 1.75rem;
        margin-left: 2rem;
        padding: 2rem 0;
        font-weight: 600;
      }
   
}

@media only screen and (max-width: 425px) {
    .menu-list-container {
        min-width: 90vw;
        margin-bottom: 1rem;
    }
    .menu-list {
        min-width: 75vw;
    }
    .menu-media-list-link {
        min-width: 60vw;
    }
    .menu-page-container {
        padding: 0;
    }
}
