

@media only screen and (max-width: 1050px) {
    .header {
        justify-content: space-around;
    }
    .input-container {
        max-width: 30vw;
    }
    .title {
        margin-right: 2rem;
    }
    .details-container {
        min-width: 95vw;
    }
    .detail-top-container {
        min-width: 100%;
        margin: 0 auto;
    }
    .details-poster {
        min-width: 30vw;
    }
    .detail-word-box {
        min-width: 50vw;
    }
    .details-movie-details-container {
        min-width: 95%;
        margin: 0 auto;
    }
    .details-episode-container {
        min-width: 95vw;
    }
    .item-page-container {
        min-width: 100vw;
        max-width: 100vw;
        box-sizing: border-box;
    }
    .details-watch-box {
        width: 95vw;
    }
    .details-slider-video-watch-container {
        width: 95vw;
    }
    .details-video-container {
        padding: 2rem 0;
        min-width: 95vw;
        max-width: 95vw;
    }
    .details-slider-title-video {
        margin-left: 2rem;
    }
    .details-slider-container{
        min-width: 95vw;
    }
    .details-review-container {
        min-width: 92.5vw;
    }
    .im-bookmark-page {
        right: 7.5%;
    }
    .details-images-container {
        min-width: 90vw;
        max-width: 90vw;
    }
    .details-credit-container {
        width: 85vw;
        min-width: 85vw;
        max-width: 85vw;
    }
    .person-part-tile {
        width: 80vw; 
        min-width: 80vw;
    }
    .slider-container {
        max-width: 100vw;
      }

    .slider-container-home {
        max-width: 100vw;
      }  
    .details-overview {
          min-width: 100%;
    }
    .details-slider-container-episode {
        min-width: 90vw;
        max-width: 90vw;
    }
    .watchlist-page-container {
        min-width: 100vw;
        max-width: 100vw;
        box-sizing: border-box;
    }
    .menu-list-container {
        min-width: 90vw;
    }
    .menu-list {
        min-width: 30vw;
    }
}

@media only screen and (max-width: 750px) {
    .input-container {
        max-width: 25vw;
    }
    .search-button {
        max-width: 4rem;
    }
    .input::placeholder {
        visibility: hidden;
    }
    .menu-list-container {
        min-width: 99vw;
    }
    .menu-list {
        min-width: 35vw;
        margin: 2rem auto;
      }
      .item-page-container {
        min-width: 100vw;
        height: auto;
        padding: 0;
        margin: 0 auto;
      }  

    .details-container {
        min-width: 100%;
        display: flex;
        justify-content: space-evenly;
    }  

    .detail-top-container {
        flex-direction: column;
        margin: 0 auto;
        max-width: 90vw;
        padding: 0;
    } 
    .poster-container {
        margin: 0 auto 2rem auto;
    } 
    .detail-word-box {
        min-width: 80vw;
        margin: 0 auto;
    }
    .im-bookmark-page {
        right: 35%;
        top: 17.05rem;
    }
    .details-tagline {
        min-width: 50vw;
        text-align: center;
    }
    .details-title {
        font-size: 2rem;
        min-width: 60vw;
    }
    .details-score {
        font-size: 2rem; 
    }
    .details-movie-details-container {
        min-width: 87.5vw;
        margin: 0 auto; 
    }

    .filmography-nav {
        width: 90vw;
        display: flex;
        justify-content: space-evenly;  
     }
    
    .details-video-container {
        min-width: 87.5vw;
    }
    .details-slider-video-watch-container {
        max-width: 90vw;
    }
    .details-watch-box {
        max-width: 95vw;
    }
    
    .details-video-container {
        padding: 0 0;
        min-width: 90vw;
        max-width: 90vw;
    }
    .item-review-author {
        margin: 0;
    }
    .item-part-review {
        min-width: 90%;
        margin: 0 auto;
    }
    .details-review-container {
        margin: 0 auto;
        overflow: hidden;
    }
    .details-episode-container {
        min-width: 90vw; 
    }
    .details-slider-container-episode {
        min-width: 80vw;
    }
    .details-episode-card-season-tile {
        min-width: 85vw;
    }
    .details-episode-card-season {
        min-width: 85vw;
    }
    .details-slider-container {
        min-width: 90vw;
        margin: 0 auto;
    }
    .movie-details-list-item {
        margin: 0 auto;
    } 
}

@media only screen and (max-width: 650px) {
    .details-movie-details-container {
        min-width: 87.5vw;
        margin: 0 auto;
    }
    .details-movie-details-tile {
        display: flex;
        flex-direction: column;
    }
    .movie-details-list-container { 
        min-width: 70vw;
    }
    .movie-details-list {
        text-align: center;
    }
    .movie-details-list-item {
        margin: 0 auto;
        width: 75%;
    }
    .details-credit-container {
        min-width: 80%;
        max-width: 80%;
        margin: 0 auto;
    }
    .person-filmography-container {
        margin: 0 auto;
        min-width: 90%;
    }
    .person-part-tile {
        min-width: 90%;
    }
    .filmography-nav {
        flex-wrap: wrap;
        width: 90vw;
        margin: 0 auto;
    }
    .filmography-nav-type {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 550px) {
    .title {
        margin-right: 0;
    }
    .menu-list-container {
        min-width: 99vw;
    }
    .menu-list {
        min-width: 45vw;
        margin: 2rem auto;
      }
}

@media only screen and (max-width: 500px) {
    .App {
        max-width: 100%;
    }
    .header-title-link {
        display: none; 
    }
    .header {
        border-bottom: 2px solid  #1B1B1B;
    }
    .slider-container-home {
        margin-top: 0;
      }   
    .menu-box {
        position: absolute;
        max-width: 2.5rem;
        left: 2rem;
    }
    .menu-span {
        display: none;
    }
    .menu-media-list-link {
        min-width: 40vw;
    }
    .menu-list {
        min-width: 45vw;
      }
      .menu-page-container {
        margin-bottom: 0rem !important;
    }  

    .item-page-container {
        min-width: 100vw;
        max-width: 100vw;
        margin-top: 0rem !important;
        margin-bottom: 0;
    } 
    .watchlist-page-container {
        margin-top: 0rem !important;
        margin-bottom: 0;  
    }

    .detail-word-box {
        min-width: 75vw;
        margin: 0 auto;
    }
    .details-poster {
        min-width: 50vw;
    }
    .im-bookmark-page {
        right: 25%;
        top: 14.25rem;
    }

    iframe {
        max-width: 85vw;
        min-height: auto;
        margin: 0;
        padding: 0 0;
    }
    
    .input-container {
        max-width: 35vw;
    }
    .slider-sub-container, .details-cast-slider {
        max-height: 30rem;
    }
    .slider-card {
        padding: 1.5rem;
        margin: 0 .5rem;
        max-width: 14rem;
      }
    .slider-card-image {
        max-height: 20rem;
      }
    .slider-name {
        padding-top: 0rem;
        text-align: left;
        font-size: 1.25rem;
        margin-top: 1.5rem;
      }
      
    .slider-character {
        padding-top: 0;
        font-size: 1.25rem;
    }  
    .slider-container {
        padding: 0;
    }
    .slider-score {
        padding-top: 1rem;
        font-size: 1.25rem;
    }
    .slider-title {
        margin-top: .5rem;
        font-size: 1.25rem;
    }
      
    .slider-container {
        padding: 2rem .5rem;
    } 
    .im-bookmark-slider {
        position: relative;
        top: 3rem;
        left: 5rem;
        z-index: 3; 
    }
    .slider-label {
        display: flex;
        font-size: 1.75rem;
        margin-left: 2rem;
        padding: 2rem 0;
        font-weight: 600;
      }

    .footer-link-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        padding-right: 0; 
    }

    .footer {
        margin-top: 0rem !important;
        border-top: 2px solid  #1B1B1B;
    }  
    .item-part-review {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .details-review-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .item-part-review-left {
        height: 5rem;
        width: 100%;
    }

    .item-review-container {
        margin-top: 5rem;
        min-width: 90%;
        margin-left: -25rem;
        padding: 2rem;
    }
}

@media only screen and (max-width: 499px) {
    .im-bookmark-page {
        top: 14rem;
    }
    .details-episode-season-img-overview-container {
        flex-direction: column;
    }
    .details-episode-card-overview-season-container {
        min-width: 80%;
    }
}

@media only screen and (max-width: 425px) {
    .menu-list-container {
        min-width: 90vw;
        margin-bottom: 1rem;
    }
    .menu-list {
        min-width: 75vw;
    }
    .menu-media-list-link {
        min-width: 60vw;
    }
    .menu-page-container {
        padding: 0;
    } 
}

@media only screen and (max-width: 375px) {
    .detail-word-box {
            margin-left: -1%;
        }
}

@media only screen and (max-width: 350px) {
    .detail-word-box {
        min-width: 80%;
    }
}
