.person-filmography {
    /* color: red;
    border: 1px solid red; */
    
    display: flex;
    padding: 2rem;
   
}

#filmography-title {
    font-size: 2.5rem;
}

.person-gender-credit{
    /* color: red;
    border: 1px solid red; */
    
    display: flex;
    padding: 2rem;
    
}

.person-filmography-container {
    /* border: 1px solid blue; */
    width: 100%;
}

.person-filmography-header{
    /* border: 1px solid green; */
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.person-part-tile {
    /* border: 1px solid red; */
    padding: 1rem;
    /* margin: 1rem 0; */
    display: flex;
    justify-content: space-between;
    background-color: rgba(57, 62, 70, .5);
    width: 55vw;
    margin: 1rem auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.person-part-tile:hover {
    cursor: pointer;
    background-color: rgba(57, 62, 70, .95);
    transition: ease 1s;
}

.person-part-tile-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.person-part-title {
    font-size: 1.25rem;
    
}

.person-part-character {
    color: silver;
}

.person-part-year {
    font-size: 1.25rem;
}

.person-filmography-section-title {
    font-size: 1.5rem;
    display: flex;
    padding: 2rem 3rem;
}

.im-angle-down {
    font-size: smaller;
    margin-top: 1rem;
}

.im-angle-down:hover {
    cursor: pointer;
}

.im-angle-up {
    font-size: smaller;
    margin-top: 1rem;
}

.im-angle-up:hover {
    cursor: pointer;
}