.person-filmography {
    /* color: red;
    border: 1px solid red; */
    
    display: flex;
    padding: 2rem;
   
}

#filmography-title {
    font-size: 2.5rem;
}

.person-gender-credit{
    /* color: red;
    border: 1px solid red; */
    
    display: flex;
    padding: 2rem;
    
}

.person-filmography-container {
    /* border: 1px solid blue; */
    width: 100%;
}

.person-filmography-header{
    /* border: 1px solid green; */
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.person-part-tile {
    /* border: 1px solid red; */
    padding: 1rem;
    /* margin: 1rem 0; */
    display: flex;
    justify-content: space-between;
    background-color: rgba(57, 62, 70, .5);
    width: 55vw;
    margin: 1rem auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.person-part-tile:hover {
    cursor: pointer;
    background-color: rgba(57, 62, 70, .95);
    transition: ease 1s;
}

.person-part-tile-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.person-part-title {
    font-size: 1.25rem;
    
}

.person-part-character {
    color: silver;
}

.person-part-year {
    font-size: 1.25rem;
}



.person-filmography-section-title {
    font-size: 1.5rem;
    display: flex;
    padding: 2rem 3rem;
}

.im-angle-down {
    font-size: smaller;
    margin-top: 1rem;
    color: #E1B517;
}

.im-angle-down:hover {
    cursor: pointer;
}

.im-angle-up {
    color: #E1B517;
    font-size: smaller;
    margin-top: 1rem;
}

.im-angle-up:hover {
    cursor: pointer;
}




.item-review {
    /* border: 1px solid blue; */
    
    
    text-align: left;
    margin: 0 auto;
    
    color: white;
    
    line-height: 2;
}

.item-part-review-left {
    display: flex;
    min-width: 25rem;
    text-align: left;
    
    /* border: 1px solid red; */
}

.item-review-container {
    /* border: 1px solid green; */
    text-align: left;
    padding-right: 2rem;
    
   
}


.item-part-review {
    /* border: 1px solid red; */
    
    /* margin: 1rem 0; */
    display: flex; 
    /* justify-content: right;  */
    background-color: #1B1B1B;
   
    margin: 1rem 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    font-size: 1.25rem;
    /* border: 1px solid orange; */
    /* display: flex; */
    justify-content: space-between;
    /* padding: 1rem; */
}

.item-part-review:hover {
    cursor: pointer;
    background-color: rgba(57, 62, 70, .95);
    transition: ease 1s;
}

.item-review-author {
    font-size: 1.25rem;
    margin: 2rem 4rem;
    color: #E1B517;
    font-weight: 700;
}

.author-by {
    color: white;
    font-weight: 400;
}

.review-link {
    text-decoration: none;
    display: flex;
    padding: 1rem 0;
   

}

.review-link:active {
    color: blanchedalmond;
}


.video-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #1B1B1B;
    margin: 0 auto;
  }
  
  .video-card:hover {
    cursor: pointer;
  }

 .filmography-nav-container {
     /* border: 1px solid red; */
     font-size: 1.5rem;
     display: flex;
     justify-content: flex-end;
 } 

 .filmography-nav {
    min-width: 40vw;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-evenly;
    
     
 }

 .filmography-nav-type {
     text-decoration: none;
     color: #E1B517;
 }

 .filmography-nav-type:hover {
    cursor: pointer;
    color: rgba(225, 181, 23, .5);
    transition: 1s;
 }


 
